/* :root{
  font-size: 10px;
}
*/
body{
 /* background-image: url('https://www.pinterest.com/pin/990158668053441394/');  */
  background-image: url("https://images.unsplash.com/photo-1543097676-44e5a5bd4ef1?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z2lybHklMjB3YWxsJTIwcGFwZXIlMjBhZXN0aGV0aWN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600");
  background-color: rgba(0, 0, 0, 0.5); 
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
 }


.to-do-list{
  font-family: 'Trebuchet MS';
  text-align: center;
  margin-top: 1rem;
  color: #fff; 
}

h1{
  font-size: 2rem;
}

button{
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 1rem 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.5s ease;
  border-radius: 1rem;
}

.add-button{
  background-color: #CDE4D3; 
}
.add-button:hover{
  background-color: #4A2040; 
  color: white;
}

.delete-button{
  background-color: #D896A7; 
}
.delete-button:hover{
  background-color: #4A2040; 
  color: white;
}

.move-button{
  background-color: #E6D9F2; 
}
.move-button:hover{
  background-color: #4A2040; 
  color: white;
}

input[type='text']{
  font-size: 1.6rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 0.2rem solid #D9C6A5;
  border-radius: 0.5rem;
  color: #4A2040;
  background-color: #FFF4E6; 
}

ol{
  padding: 0;
}

li{
  color: #4A2040;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  background-color: #FFF4E6;
  margin-bottom: 1rem;
  border: 0.1rem solid #D9C6A5;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.delete-button, .move-button{
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  margin-left: 1rem;
}

.btn{
  background-color: pink;
  color: white;
  padding: 0.5rem 0.5rem;
  margin: 1rem 0;
}
.btn:hover{
  background-color: #4A2040; 
  color: white;
}


@media(600px){
  :root{
    font-size: 5px;
  }
}